@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap");

/* https://coolors.co */
:root {
	--color-1: #f1faee;
	--color-2: #e63946;
	--color-3: #1d3557;
	--color-4: #457b9d;
	--color-5: #a8dadc;
	--title-font: "Mulish", sans-serif;
	--paragraph-font: "Montserrat", sans-serif;
}

html {
	background-color: var(--color-1);
	font-size: 16px;
	font-family: var(--paragraph-font);
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media screen and (min-width: 320px) {
	html {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}

html,
body {
	height: 100%; /* so footer sticks to bottom */
}

body {
	display: flex;
	flex-direction: column;
}

section {
	padding: 1.5em 30px;
	max-width: 650px;
	margin: 0 auto;
	flex: 1 0 auto;
}

h1,
h2 {
	font-family: var(--title-font);
	color: var(--color-3);
}

a {
	color: inherit;
	text-decoration: none;
}

#links {
	color: var(--color-4);
	display: flex;
	gap: 0.5em;
}

footer {
	flex-shrink: 0;
	padding: 0.5rem 1rem;
	text-align: right;
	font-size: 12px;
	color: var(--color-3);
}
